body{
    background: rgb(25, 23, 27);
    font-family: 'Yaldevi', sans-serif;
    color: wheat;

    background-image: url('../png/people_back.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-o: ; */
}

a{
    text-decoration: none;
}

button{
    font-size: 1.6em;
    padding: 3px;
    border-radius: 25px;
    outline: none;
    border: 0;
    background:rgb(235, 77, 77)
}

button:active{
    background:rgb(248, 118, 118)
}

r{
    color: rgb(175, 14, 14);
}

b{
    color: blue;
}

.logo{
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 3.5px;
    color: antiquewhite;
}

.title{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* 3way toggle switch */
.switch-toggle {
    float: left;
    background: #242729;
    border-radius: 5px;
    margin-bottom: 8px;
 }
 .switch-toggle input {
   position: absolute;
   opacity: 0;
 }
 .switch-toggle input + label {
   padding: 7px;
   float:left;
   color: #fff;
   cursor: pointer;
 }
 .switch-toggle input:checked + label {
   background: green;
   border-radius: 5px;
 }

 .flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conditions{
    background: rgb(248, 236, 214);
    color: black;
    width: 100%;    
    position: absolute;
    top:auto;
    left: auto;
    padding: 5px;
}