
.party-details{
    background: rgba(30, 29, 37, 0.788);
    color: white;
    /* border: 1px solid rgb(245, 141, 141);  */
    padding: 10px;
    margin: 4px;
    font-size: 1.5em;
    border-radius: 5px;
    min-width: 50vw;
    height: 100px;
    text-align: center;
    box-shadow: 0.5px 2px rgb(56, 50, 50);
    letter-spacing: 2px;

    display: grid;
}

#new_party{
    background: green;
    margin-top: 30px;
}

#new_party:active{
    background: rgb(3, 146, 3);
}

#parties{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 3way toggle switch */
.switch-toggle {
    float: left;
    background: #242729;
    border-radius: 5px;
    margin-bottom: 8px;
 }
 .switch-toggle input {
   position: absolute;
   opacity: 0;
 }
 .switch-toggle input + label {
   padding: 7px;
   float:left;
   color: #fff;
   cursor: pointer;
 }
 .switch-toggle input:checked + label {
   background: green;
   border-radius: 5px;
 }