{% extends "_base.html" %}

{% block imports %}
    <link rel="stylesheet" href="{{pure_path}}/res/css/profile.css">
{% endblock imports %}

{% block content %} 
     <div class="profile-pic"> 
        <img src="res/png/profile-pic.jpeg" width="270" height="270">
        <p>Alajos Frigyes</p>
     </div>
    <div class="button-wrapper"> 
        <div class="btn1 btn"> 
            <a href = "#"> Join a party </a>
        </div>
        <div class="btn2 btn"> 
            <a href = "#"> Create a party </a> 
        </div>
    </div>


      



{% endblock content %}