{% extends "_base.html" %}

{% block imports %}
    <link rel="stylesheet" href="{{pure_path}}/res/css/bejelentkezes.css">
{% endblock imports %}

{% block content %} 
     <div class="proba-alap" >
            <div class="form-box" ng-hide="elkuld">
                <div class="gomb-box">
                    <div id="be"></div>
                    <button type="button" class="gomb-be" onclick="login()">Log In</button> 
                    <button type="button" class="gomb-be" onclick="register()">Register</button>
                </div>
                <form id="login" class="bemenet-csoport" action="login_code.php" method="POST">
                <input type="email" class="bemenet-mezo" name="email" id="email" placeholder="Email Adress" required>    
                <input type="password" class="bemenet-mezo" name="password" id="password" placeholder="Password" required>
                <button type="submit" class="megerosito-gomb" style="margin-top: 100px">Log In</button>
                </form>
                
                <form  id="register-1" class="bemenet-csoport" action="registration_code.php" method="POST">
                    <input type="text" class="bemenet-mezo" name="fullname" id="fullname" placeholder="Full Name" required>
                    <input type="email" class="bemenet-mezo" name="username" id="username" placeholder="Username" required>
                    <input type="password" class="bemenet-mezo" name="password" id="password" placeholder="Password" required>
                    <input type="password" class="bemenet-mezo" name="rpassword" id="rpassword" placeholder="Repeat Password" required>
                    <button type="submit" class="megerosito-gomb">Next</button>
                 </form>

                 <form  id="register-2" class="bemenet-csoport" action="registration_code.php" method="POST">
                    <input type="text" class="bemenet-mezo cnp" name="cnp" id="cnp" placeholder="CNP" required>
                    <button type="submit" class="megerosito-gomb">Register</button>
                 </form>
            </div>
    </div>

      <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("be");


            function register(){
                x.style.left="-450px";
                y.style.left="5px";
                z.style.left="130px";
            }

            function login(){
                x.style.left="5px";
                y.style.left="450px";
                z.style.left="0px";
            }
     </script>



{% endblock content %}