{% extends "_base.html" %}

{% block imports %}
    <link rel="stylesheet" href="{{pure_path}}/res/css/bejelentkezes.css">
    <script src="{{pure_path}}/res/js/index.js"></script>
{% endblock imports %}

{% block content %} 
     <div class="proba-alap" >
            <div class="form-box">
                <div class="gomb-box">
                    <div id="be"></div>
                    <button type="button" class="gomb-be" onclick="select_login()">Log In</button> 
                    <button type="button" class="gomb-be" onclick="select_register()">Register</button>
                </div>
                <form id="login" class="bemenet-csoport">
                    <input type="email" class="bemenet-mezo" name="email" id="email" placeholder="Email Adress" required>    
                    <input type="password" class="bemenet-mezo" name="password" id="password" placeholder="Password" required>
                    <button class="megerosito-gomb" style="margin-top: 100px">Log In</button>
                </form>
                
                <div id="regiszterek">
                    <form  id="register-1" class="bemenet-csoport">
                        <input type="text" class="bemenet-mezo" placeholder="Full Name">
                        <input type="email" class="bemenet-mezo" placeholder="Username">
                        <input type="password" class="bemenet-mezo" placeholder="Password">
                        <input type="password" class="bemenet-mezo" placeholder="Repeat Password">
                        <button class="megerosito-gomb" onclick="next_regiszter()">Next</button>
                    </form>

                    <form  id="register-2" class="bemenet-csoport">
                        <input type="text" class="bemenet-mezo cnp" name="cnp" id="cnp" placeholder="CNP">
                        <button class="megerosito-gomb">Register</button>
                    </form>
                 </div>
            </div>
    </div>





{% endblock content %}