{% extends "_base.html" %}

{% block imports %} 
    <link rel="stylesheet" href="{{pure_path}}/res/css/parties.css">
{% endblock imports %} 


{% block content %} 

<div id="parties">
<h1 class="title">My Parties</h1>

        <div class="switch-toggle">
            <input id="past" name="state-d" type="radio" />
            <label for="past" onclick="">past</label>

            <input id="ongoing" name="state-d" type="radio" checked="" />
            <label for="ongoing" onclick="">ongoing</label>
          
            <input id="upcoming" name="state-d" type="radio" checked="checked" />
            <label for="upcoming" class="disabled" onclick="">upcoming</label>
          
        </div>

        {% for party in parties %}
            <article class="party-details">
                <h3 style="grid-column: 1/2; grid-row: 1">{{party.name}}</h3>
                <!-- <p>{{party.where}}</p> -->

                <p style="grid-column: 1; grid-row: 2">{{party.start_date}}</p>
                <p style="grid-column: 2; grid-row: 2">{{party.duration}}</p>
                <p style="grid-column: 1; grid-row: 3">{{party.location}}</p>

                <div  style="grid-column: 4; grid-row: 1/3" class="iconset">
                    {% for icon in party.icons %}
                        <img src="{{pure_path}}/res/png/favicon.png" width="22" height="22">
                    {% endfor %}
                </div>
    
            </article>
        {% endfor %}
        <button onclick="location.href = '{{pure_path}}/new_party.html'" id="new_party">new party</button>
    </div>



{% endblock content %}